
body {
    background-color: black;
    color: white;
    text-align:left;
    margin:3px;
    font-family: "Arial", sans-serif;
    font-size: xxx-large;
}

h2 {
    padding-right: 7px;
    padding-left: 20px;
    display: inline-block;
    margin-right: 10%;
    text-shadow: 1px 1px slategrey;
}

hr {
    color: dimgrey;
    opacity: 50%;
    display: block;
    border-style: inset;
    font-size: small;
}

p {
    opacity: 95%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    text-shadow: 1px 1px darkslateblue;
    padding-left: 1%;
}

a:link {
    color:seagreen;
}
a:visited {
    color:#256F46;
}
a:hover {
    color:mediumseagreen;
    font-weight: bold;
    transition:50ms;
}

.font-switcher {
    font-family: "Times New Roman", serif;
}

.button-font, .button-size, .button-anchor{
    text-align: left;
    border-style: inset;
    opacity: 0.7;
    transition:0.3s;
    box-sizing: border-box;
    display: inline-block;
    font-size: x-large;
    vertical-align: middle;
}

.button-font, .button-size {
    margin-left: 5px;
    color: goldenrod;
    background-color: seagreen;
    border-color: darkslategrey;
    text-shadow: 1px 1px darkslategrey;
}

.button-font:hover, .button-size:hover, .button-anchor:hover {
    opacity: 1;
}

.button-font {
    padding: 15px 21px;
}

.button-size {
    padding: 15px 15px;
}

.button-anchor {
    padding: 12px 17px;
    background-color: black;
    border-color : goldenrod;
    margin-right: 5px;
}

.light-mode {
    background-color: white;
    color: black;
}

.button-dark, .button-light {
    background-color: transparent;
    opacity: 0.7;
    transition:0.3s;
    border: transparent;
    font-size: xxx-large;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}

.button-dark:hover, .button-light:hover {
    opacity: 1;
}

.border-box {
    border-color: grey;
    border-style: inset;
}



